__pycache__/
compressed_collection_files/
uncompress_temp/
test/

*.pyc

psychology_db_num_group_*.json
*.tar.gz

*_Discussion
*_Results
*_Methods
*_Introduction
*_Abstract
download_state

uncompress_temp/

*_svo_input
*_sentences_db
*_fasttext
pubmed_title_abstract*

*.pkl
